Source: chrome-gnome-shell
Section: gnome
Priority: optional
Maintainer: Yuri Konotopov <ykonotopov@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.4
Homepage: <https://github.com/nE0sIghT/chrome-gnome-shell>
Vcs-Git: https://github.com/nE0sIghT/chrome-gnome-shell.git
Vcs-Browser: https://github.com/nE0sIghT/chrome-gnome-shell

Package: chrome-gnome-shell
Architecture: all
Depends: gnome-shell, python (>= 2.7)
Description: GNOME Shell integration for Google Chrome browser
  Provides integration with GNOME Shell extensions repository for Chrome browser
