Source: chrome-gnome-shell
Section: gnome
Priority: optional
Maintainer: Yuri Konotopov <ykonotopov@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, coreutils
Standards-Version: 3.9.4
Homepage: <https://wiki.gnome.org/Projects/GnomeShellIntegrationForChrome>
Vcs-Git: git://git.gnome.org/chrome-gnome-shell
Vcs-Browser: https://git.gnome.org/browse/chrome-gnome-shell

Package: chrome-gnome-shell
Architecture: all
Depends: gnome-shell, python (>= 2.7), python-gi
Description: GNOME Shell integration for Google Chrome browser
  Provides integration with GNOME Shell extensions repository for Chrome browser
